.pageHeader {
  padding: 20px;
}

.btn {
  background-color: #0094FF;
  border: none;
  color: white;
}

.home {
  padding:60px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 30px;
  padding-top: 30px;
}

.product-page {
  padding:40px;
}

.container-fluid {
  gap: 20px;
}

body {
  margin:0
}

/* .homepage {
  background: linear-gradient(90deg, #e0edff, #ffffff);
} */

.home-featured {
  background: linear-gradient(#0094FF, #A2D8FF);
}

.instagram-media .Footer {
  display:none;
}
